* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}
a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: #fff;
}
#top-bar {
    padding: 1px 0;
    background: #808080;
    text-align:right;
}
#top-bar input[type="submit"] {
    background: none;
    border: none;
    color: #fff;
}
#top-bar input[type="submit"]:hover {
    text-decoration: underline;
}
#header {
    background-color: #000000;
    padding: 10px 0;
}
#login h1,
#header h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}
#header h1 span {
    color: #f2f0f0;
}
.filters {
    margin-top: 2px;
    text-align: right;
}
.filters button[type="submit"] {
    margin-left: 50px;
    padding: 5px 50px;
    color: #000;
    background-color: #fff;
    border: none;
}
.filters button[type="submit"] i {
    font-size: 20px;
}
.filter,
.filter p,
.filter select {
    display: inline-block;
}
.filter:first-child {
    margin-left: 0 !important;
}
.filter {
    margin-left: 20px;
}
.filter p {
    color: #fff;
}
.filter select {
    margin-left: 10px;
    width: 120px;
}
